@import "@nuxt/ui";
@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
}

/* Hide Scrollbar Buttons */
::-webkit-scrollbar-button {
  display: none;
}

@theme {
    --font-sans: "Roboto", sans-serif;

    --color-primary: white;
    --color-secondary: black;
}