@import "@nuxt/ui";
@import "tailwindcss";
@import './fonts.css' layer(base);

:root {
  --font-sans: "Roboto", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
}

/* Hide Scrollbar Buttons */
::-webkit-scrollbar-button {
  display: none;
}
